<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService15" />
                <binding name="BasicHttpsBinding_IService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56193/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService15" contract="ServiceReference4.IService1"
                name="BasicHttpBinding_IService15" />
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/EncryptionWcf/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="ServiceReference1.IService" name="BasicHttpsBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>